@import "./../../assets/styles/base.scss";
.BoxFooter {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    padding-top: 30px;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .BoxSubFooter {
        width: 100%;
        padding: 20px 0px;
        line-height: 20px;
        background-color: $main-color;
        margin-bottom: 30px;
    }

    .BoxResponsive {
        width: 100%;
        max-width: 1080px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }
    .BoxSignature {
        padding: 10px 20px 40px;
        font-size: 14px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.5);
    }
}
